.menu-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        flex-direction: column;
        width: 200px;
        display: none;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}
